body {
    padding-top: 70px;
}

.jumbotron {
    padding: 10px;
}

td {
    text-align: center;
}

tr.spaceUnder > td {
      padding-bottom: 1em;
}

.no-border {
      border: 0px solid transparent;
}
